@media screen and (max-width: 960px) {
  #top-menu { display: none; }
  #mobile-nav { display: inline-block; margin: 20px; }
  #places-list { display: none; }
}

@media screen and (min-width: 961px) {
  #top-menu{ display: inline-block; }
  #mobile-nav { display: none; }
  #accordion { display: none !important; }
}
